body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

h1, h2, h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

p {
  margin: 0 0 1.15em;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

header {
  background-color: #F76C6C;
  color: #fff;
}

footer {
  border-top: 2px solid #F76C6C;
}

.button {
  /* Reset text link default */
  text-decoration: none;

  background-color: #F76C6C;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}

.card .skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card .skills li {
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: #F76C6C 1px solid;
  border-radius: 4px;
  padding: 2px;
}

.card .skills .votes {
   /* Center the content */
   align-items: center;
   display: flex;
   justify-content: center;

   /* Colors */
   background-color: rgba(0, 0, 0, .3);
   color: #FFF;

   /* Rounded border */
   border-radius: 9999px;
   height: 20px;
   width: 20px;
}